:root {
  --bs-font-sans-serif: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  background: url("https://github.com/AlexKay28/langflow/blob/main/media/logo.png?raw=true") center center no-repeat;
  width: 200px;
  height: 90px;
}

.navbar {
  border-bottom: 1px solid white;
}

.base-container {
  padding-top: 106px;
}

.navbar-collapse {
  flex-grow: 0;
}