{% extends 'base.html' %}

{% block body %}
<div class="centered-element w-100">
  <table class="custom-table">
    <tbody>
      <tr>
        <td class="table-header">Translate:</td>
        <td class="table-text">{{first_language}}</td>
      </tr>
      <tr></tr>
        <td class="table-header">Answer:</td>
        <td class="table-text">{{second_language_answer}}</td>
      </tr>
      <tr>
        <td class="table-header">Correct answer:</td>
        <td class="table-text">{{second_language}}</td>
      </tr>
    </tbody>
  </table>

  <form method="get">
    <input type="submit" class="btn btn-success btn-lg" value="next">
  </form>
</div>

<footer class="pb-4 text-white-50 fixed-bottom-element">
  <p>Service created by <a href="https://github.com/AlexKay28" class="text-white">AlexKay</a> and <a href="https://github.com/Alkhimovmv" class="text-white">AlkhimovMV</a>.</p>
</footer>
{% endblock %}
